---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 17:34:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1072101389"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1098453448"}]}]}'
  recorded_at: Mon, 08 Aug 2022 17:34:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659980057,"sunrise":1659960332,"sunset":1660010740,"temp":78.17,"feels_like":78.17,"pressure":1019,"humidity":53,"dew_point":59.65,"uvi":9.47,"clouds":2,"visibility":10000,"wind_speed":3,"wind_deg":170,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1659978000,"temp":78.12,"feels_like":78.03,"pressure":1019,"humidity":51,"dew_point":58.53,"uvi":7.6,"clouds":2,"visibility":10000,"wind_speed":2.28,"wind_deg":42,"wind_gust":1.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659981600,"temp":78.17,"feels_like":78.17,"pressure":1019,"humidity":53,"dew_point":59.65,"uvi":9.47,"clouds":2,"visibility":10000,"wind_speed":3.85,"wind_deg":79,"wind_gust":3.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1659985200,"temp":79.36,"feels_like":79.36,"pressure":1018,"humidity":49,"dew_point":58.55,"uvi":10.24,"clouds":2,"visibility":10000,"wind_speed":2.84,"wind_deg":82,"wind_gust":3.85,"weather":[{"id":800,"main":"[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4957'
      X-Zipkin-Id:
      - bb0bd7a7b6556d1e
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-6d54g; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "yUXr2d9pomzJgmbPl8tlZQ", "alias": "q-house-denver",
        "name": "Q House", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/j6qTLzzfT31F92HxwrH0ww/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/q-house-denver?adjust_creative=MgIycIDMl67r8ZqXjW1UrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=MgIycIDMl67r8ZqXjW1UrQ",
        "review_count": 226, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.5, "coordinates": {"latitude": 39.7403344229824, "longitude":
        -104.947235575533}, "transactions": ["pickup", "delivery"], "price": "$$",
        "location": {"address1": "3421 E Colfax Ave", "address2": "", "address3":
        null, "city": "Denver", "zip_code": "80206", "country": "US", "state": "CO",
        "display_address": ["3421 E Colfax Ave", "Denver, CO 80206"]}, "phone": "+17207298887",
        "display_phone": "(720) 729-8887", "distance": 2038.887140689118}, {"id":
        "kfTdkvBUiAqqzISm_cq23A", "alias": "hop-alley-denver", "name": "Hop Alley",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/zkRjU2rLUQ5uKqkhGbBUEw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hop-alley-denver?adjust_creative=MgIycIDMl67r8ZqXjW1UrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=MgIycIDMl67r8ZqXjW1UrQ",
        "review_count": 456, "categories": [{"alias": "chinese", "title": "Chinese"[...]
