---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,co&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - b6bd0cb0bda3b01e
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4958'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-lv775; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-185-39-uswest2bprod
      X-Extlb:
      - 10-69-185-39-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "yUXr2d9pomzJgmbPl8tlZQ", "alias": "q-house-denver",
        "name": "Q House", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/j6qTLzzfT31F92HxwrH0ww/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/q-house-denver?adjust_creative=MgIycIDMl67r8ZqXjW1UrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=MgIycIDMl67r8ZqXjW1UrQ",
        "review_count": 226, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.5, "coordinates": {"latitude": 39.7403344229824, "longitude":
        -104.947235575533}, "transactions": ["pickup", "delivery"], "price": "$$",
        "location": {"address1": "3421 E Colfax Ave", "address2": "", "address3":
        null, "city": "Denver", "zip_code": "80206", "country": "US", "state": "CO",
        "display_address": ["3421 E Colfax Ave", "Denver, CO 80206"]}, "phone": "+17207298887",
        "display_phone": "(720) 729-8887", "distance": 2038.887140689118}, {"id":
        "kfTdkvBUiAqqzISm_cq23A", "alias": "hop-alley-denver", "name": "Hop Alley",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/zkRjU2rLUQ5uKqkhGbBUEw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hop-alley-denver?adjust_creative=MgIycIDMl67r8ZqXjW1UrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=MgIycIDMl67r8ZqXjW1UrQ",
        "review_count": 456, "categories": [{"alias": "chinese", "title": "Chinese"[...]
